@import url("/assets/Gilroy/stylesheet.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Gilroy", sans-serif;
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}

.game-title {
    font-size: 3.5rem;
    margin-bottom: 30px;
    color: #4a4a8f;
}

.game-status {
    font-size: 3rem;
}

/* Ввод команд */
.commands-area {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.commands-area textarea {
    height: 20vh;
    font-size: 16pt;
}

/* Игровое поле */
.game-field {
    width: 100%;
    max-width: 800px;
    border-collapse: collapse;
    margin: 0 auto;
}

table th,
table td {
    padding: 20px;
    border: 2px solid #4a4a8f;
    text-align: center;
    font-size: 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}
table th {
    background-color: #4a4a8f;
    color: white;
    font-size: 1.6rem;
}
table td {
    background-color: #f9f9ff;
    color: #4a4a8f;
}

.game-field td:hover {
    background-color: #e0e0ff;
}

.game-field td.used {
    background: gray;
    color: white;
    cursor: not-allowed;
}

/* Модалка */
dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.6);
}

dialog {
    border: none;
    border-radius: 10px;
    padding: 30px;
    width: max-content;
    min-width: 30vw;
    max-width: 90vw;
    background-color: #fff;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.2);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    gap: 16px;

    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}

dialog h1 {
    font-size: 1.8rem;
    color: #4a4a8f;
}

dialog h2 {
    font-size: 1.2rem;
    color: #333;
}

dialog h3 {
    font-size: 1rem;
    color: #666;
}

dialog .buttons,
dialog .clock {
    display: flex;
    gap: 12px;
}

dialog .clock span:last-child {
    font-size: 18pt;
}

/* Кнопки */
button {
    appearance: none;
    outline: none;
    border: none;

    padding: 10px 20px;
    border-radius: 5px;

    cursor: pointer;
    font-size: 18pt;
    transition: background-color 0.3s;

    background: #eeeeee;
    color: black;
}

button:hover {
    background: #cfcfcf;
}

button.blue {
    color: white;
    background-color: #4a4a8f;
}

button.blue:hover {
    background-color: #383868;
}

/* Таблица очков */
.scores {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 32px;
    top: 32px;
    width: max-content;
    height: max-content;
    border-spacing: 4px;
}

.scores * {
    cursor: initial;
    padding: 6px 12px;
    font-size: 1.8rem;
}

.scores th {
    font-weight: 500;
}