@import url("../assets/Gilroy/stylesheet.css");
@import url("table.css");
@import url("dialog.css");
@import url("final.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Gilroy", sans-serif;
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}

.game-title {
    font-size: 3.5rem;
    margin-bottom: 30px;
    color: #4a4a8f;
}

.game-status {
    font-size: 3rem;
}

/* Ввод команд */
.commands-area {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.commands-area textarea {
    height: 20vh;
    font-size: 16pt;
}

/* Кнопки */
button, input, select {
    appearance: none;
    outline: none;
    border: none;

    padding: 10px 20px;
    border-radius: 5px;

    cursor: pointer;
    font-size: 18pt;
    transition: background-color 0.3s;

    background: #eeeeee;
    color: black;
}

button:hover {
    background: #cfcfcf;
}

button.blue {
    color: white;
    background-color: #4a4a8f;
}

button.blue:hover {
    background-color: #383868;
}