/* Игровое поле */
.game-field {
    width: 100%;
    max-width: 800px;
    border-collapse: collapse;
    margin: 0 auto;
}

table th,
table td {
    padding: 20px;
    border: 2px solid #4a4a8f;
    text-align: center;
    font-size: 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}
table th {
    background-color: #4a4a8f;
    color: white;
    font-size: 1.6rem;
}
table td {
    background-color: #f9f9ff;
    color: #4a4a8f;
}

.game-field td:hover {
    background-color: #e0e0ff;
}

.game-field td.ok {
    background: rgb(34 197 94);
    color: white;
    cursor: not-allowed;
}

.game-field td.wrong {
    background: rgb(220 38 38);
    color: white;
    cursor: not-allowed;
}

/* Таблица очков */
.scores {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 32px;
    top: 32px;
    width: max-content;
    height: max-content;
    border-spacing: 4px;
}

.scores * {
    cursor: initial;
    padding: 6px 12px;
    font-size: 1.8rem;
}

.scores th {
    font-weight: 500;
}